* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "lt-45";
	transition: all 0.3s;
	font-size: 100%;
}
a {
	text-decoration: none;
	color: black;
}
li {
	list-style: none;
}
:root {
	--primary: #003a42;
	--even-border: #295c3a;
	--secondary: #809ca0;
	--even-nums: rgba(213, 213, 213, 0.44);
	--container-border: #d6dedf;
	--odd-nums: rgba(0, 0, 0, 0.1);
	--light-green: #90c93f;
	--header-height: 112px;
}
main {
	width: 100%;
	margin: 0 auto;
}

.container {
	max-width: 1638px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	border-left: 1px solid var(--container-border);
	border-right: 1px solid var(--container-border);
}
.container.p-absolute {
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: 1;
	border-left: 1px solid var(--container-border);
	border-right: 1px solid var(--container-border);
}
.d-flex {
	display: flex;
}
.p-fixed {
	position: fixed;
}
.p-absolute {
	position: absolute;
}
.p-relative {
	position: relative;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-center {
	justify-content: center;
}
.align-items-center {
	align-items: center;
}
.w-100 {
	width: 100%;
}

@media (max-width: 1024px) {
	.container {
		width: calc(100% - 38px);
	}
}
/* header styles */
header {
	background-color: var(--primary);
	height: var(--header-height);
	top: 0;
	left: 0;
	right: 0;
	z-index: 30;
}
.header .container {
	border-color: transparent;
}
.logo {
	width: 56px;
	height: 56px;
	margin-right: 16px;
}
.logo-block h3 {
	width: 64px;
}
.navbar-li:not(.navbar-li:first-child) {
	margin-left: 48px;
}
.navbar-li.active {
	position: relative;
}
.navbar-li.active:after {
	content: "";
	width: 100%;
	height: 1px;
	bottom: -4px;
	left: 0;
	position: absolute;
	background-color: var(--light-green);
}

.navbar-li a,
.logo-block h3,
.lang-bar a {
	color: white;
	font-family: "lt-55-bold";
	font-feature-settings: "case" on;
	font-size: 16px;
	line-height: 19px;
}
.navbar-li:hover a,
.logo-block h3:hover,
.lang-bar a:hover {
	opacity: 0.5;
}
.lang-bar .divider {
	margin: 0 10px;
	color: var(--secondary);
}
.lang-bar a:not(.lang_active) {
	color: var(--secondary);
}
.burger {
	display: none;
}
.burger span {
	width: 50%;
	height: 3px;
	background-color: white;
	border-radius: 2px;
	display: block;
	margin-bottom: 2px;
}
.burger span:nth-child(2) {
	width: 100%;
}
.burger span:nth-child(3) {
	margin-left: auto;
}
.lang-bar.lang-bar_mob,
.social-icons.social-icons_mob {
	display: none;
}
@media (max-width: 1024px) {
	.lang-bar {
		display: none;
	}
	.navbar-li.active::after {
		display: none;
	}
	.mob {
		/* display: none; */
		position: absolute;
		top: -100vh;
		left: 0;
		padding: 32px 19px 71px;
		width: 100%;
		border-radius: 31px;
		transition: all 0.7s;
		background-color: #fff;
	}
	.burger {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 21px;
		/* height: 15px; */
	}
	.burger.active span {
		/* margin: 0; */
	}
	.burger.active span:nth-child(2) {
		transform: scale(0);
	}
	.burger.active span:nth-child(1) {
		width: 100%;
		transform: translateY(5px) rotate(45deg);
	}
	.burger.active span:nth-child(3) {
		width: 100%;

		transform: translateY(-5px) rotate(-45deg);
	}
	.burger.active {
	}

	.mob.active nav {
		margin-bottom: 32px;
		position: relative;
	}
	.mob nav ul {
		flex-direction: column;
		align-items: flex-start;
	}
	.mob.active nav ul .navbar-li {
		margin: 0;
		margin-bottom: 25px !important;
	}

	.mob.active nav ul li a {
		color: var(--primary);
		font-size: 15px;
	}
	.mob.active nav:after {
		content: "";
		width: calc(100% + 38px);
		position: absolute;
		bottom: 0;
		left: -19px;
		height: 1px;
		background-color: var(--container-border);
		display: block;
	}

	.mob.active .lang-bar a {
		color: var(--primary);
	}
	.mob.active .lang-bar a:not(.lang_active) {
		color: black;
		opacity: 0.5;
	}
	.mob.active {
		position: absolute;
		top: var(--header-height);
	}
	.mob.active .lang-bar.lang-bar_mob,
	.mob.active .social-icons.social-icons_mob {
		display: flex;
		flex-direction: row;
	}
	.lang-bar.lang-bar_mob {
		margin-top: 32px;
		margin-bottom: 40px;
		align-items: center;
	}
	.mob.active .social-icons.social-icons_mob a {
		margin: 0;
		margin-right: 18px !important;
	}
}
@media (max-width: 768px) {
}

/* social icons */
.social-icons {
	right: 3%;
	top: 50%;
	/* transform: translateY(-50%); */
	flex-direction: column;
	z-index: 10;
}

.social-icons a {
	width: 28px;
	height: 28px;
	background-color: var(--primary);
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icons a:not(.social-icons a:first-child) {
	margin-top: 24px;
}
.social-icons a img {
	height: 14px;
}
@media (max-width: 1024px) {
	.social-icons {
		display: none;
	}
}

/* main section styles */
.main_section {
	padding-top: var(--header-height);
	height: 100vh;
	overflow: hidden;
}

.main_section img {
	height: 100%;
	object-fit: cover;
}
/* section title */
.section_title {
	display: inline-block;
	padding: 29px 48px;
	background-color: var(--primary);
	width: fit-content;
	margin-bottom: 48px;
}
.section_title:before {
	content: "";
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100vw;
	background-color: var(--primary);
	/* border-right: 1px solid var(--container-border); */
}
.section_title:after {
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -1px;
	background-color: var(--even-border);
	/* border-right: 1px solid var(--container-border); */
}
.section_title h3 {
	color: white;
	display: inline-block;
	width: fit-content;
	font-size: 28px;
	font-family: "lt-55-normal";
	font-feature-settings: "case" on;
}
.section_title img {
	z-index: -1;
	width: 80px;
	transform: rotate(-94.35deg);
	right: -25px;
}

@media (max-width: 1024px) {
	.section_title h3 {
		font-size: 20px;
		height: 100%;
		border-left: 1px solid var(--even-border);
		border-right: 1px solid var(--even-border);
		width: 100%;
		padding: 19px 0;
	}
	.section_title {
		width: 100%;
		text-align: center;
		margin-bottom: 0;
		margin-top: 25px;
		padding: 0 19px;
	}
	.section_title img {
		display: none;
	}
}

/* projects section */

.project_item-content {
	padding: 48px 48px 64px;
	padding-right: 0;
}
.project_item:first-child .project_item-content {
	padding-top: 0;
}
.project_item:nth-child(even) {
	background-color: var(--primary);
}
.project_item:nth-child(even) .project_item-content {
	padding: 82px 40px 64px;
}
.project_item:nth-child(even) .container {
	border-color: var(--even-border);
}
.project_num {
	top: 50%;
	transform: translateY(-50%);
	left: -5%;
	font-size: clamp(100px, 2.5vw, 200px);
	font-family: "lt-55-bold";
	color: rgba(0, 0, 0, 0.1);
}
.project_item:nth-child(even) .project_num {
	color: rgba(213, 213, 213, 0.44);
}

.project_item:nth-child(odd) .project_img {
	max-width: 638px;
	width: 40%;
	flex-shrink: 0;
	margin-right: 5%;
}
.project_item:nth-child(odd) .project_img img {
	width: 100%;
}
.project_item:nth-child(even) .project_item-content {
	flex-direction: row-reverse;
	color: white;
}
.project_item:nth-child(even) .project_img {
	position: relative;
	max-width: 754px;
	width: 50%;
	flex-shrink: 0;
	margin-left: 5%;
}
.project_item:nth-child(even) .project_img img:first-of-type {
	width: 100%;
}
.project_item:nth-child(even) .project_img img:nth-of-type(2) {
	width: 45%;
	position: absolute;
	bottom: -5%;
	left: -20%;
	z-index: 1;
}
.project_item:nth-child(even) .project_img img:nth-of-type(n + 3) {
	display: none;
}
.project_item:nth-child(even) .project_img span {
	margin-left: 30%;
	margin-top: 60px;
	display: block;
	opacity: 0.7;
	font-feature-settings: "case" on;
	font-family: "lt-55-normal";
}
.project_desc {
	padding: 10px 5%;
	border: 1px solid var(--container-border);
	border-right: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.project_item:nth-child(even) .project_desc {
	border: none;
}
.project_item:nth-child(even):before,
.project_item:nth-child(even):after,
.project_item:nth-child(3):before,
.project_item:nth-child(3):after {
	content: "";
	position: absolute;
	width: 55vw;
	height: 1px;
	background-color: var(--even-border);
	left: 0;
}
.project_item:nth-child(even),
.project_item:nth-child(3) {
	position: relative;
}
.project_item:nth-child(3) .project_item-content {
	padding-top: 82px;
}
.project_item:nth-child(3) .project_desc {
	border: none;
}

.project_item:nth-child(even):before,
.project_item:nth-child(3):before {
	height: 20%;
	display: block;
	background-color: transparent;
	border-top: 1px solid var(--even-border);
	border-right: 1px solid var(--even-border);
	top: 54px;
}
.project_item:nth-child(3):before {
	border-right: 0;

	border-left: 1px solid;
	border-top-left-radius: 14px;
	border-color: var(--container-border);
}
.project_item:nth-child(3):before,
.project_item:nth-child(3):after {
	background-color: transparent;
	right: 0;
	width: 60vw;
	height: 20%;
	z-index: -1;
	left: unset;
}
.project_item:nth-child(3):after {
	bottom: 42px;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-color: var(--container-border);
}
.project_item:nth-child(even):after {
	z-index: 0;
	bottom: 102px;
}

.projects_list {
	overflow: hidden;
}
.project_item .project_desc {
	position: relative;
}
.project_item .project_desc::before,
.project_item .project_desc::after {
	position: absolute;
	content: "";
	width: 50%;
	height: 1px;
	background-color: var(--container-border);
	right: -50%;
}

.project_item .project_desc::before {
	top: -1px;
}
.project_item .project_desc::after {
	bottom: -1px;
}
.project_item:nth-child(n + 2) .project_desc::before,
.project_item:nth-child(n + 2) .project_desc::after {
	display: none;
}

.project_title {
	color: black;
	font-size: 32px;
	font-feature-settings: "case" on;
	margin-bottom: 48px;
	font-family: "lt-55-normal";
}
.project_desc p {
	font-size: 16px;
	opacity: 0.7;
}
.project_item:nth-child(even) .project_desc p {
	opacity: 0.9;
}
.project_desc p:not(.project_desc p:last-child) {
	margin-bottom: 32px;
}
.project_item:nth-child(even) .project_title {
	color: white;
}
.side-leaf {
	right: 0;
	position: absolute;
	bottom: 0;
	max-width: 114px;
	width: 10%;
}
.leaf-top {
	top: -25px;
	width: 49px;
	right: 0;
	transform: rotate(180deg);
}
.leaf-bottom {
	bottom: 40px;
	left: -40px;
	width: 49px;
}

.projects_section > .container {
	padding-top: 64px;
}
@media (max-width: 1024px) {
	.projects_section > .container {
		margin-top: 25px !important;
	}
	.leaf-top,
	.side-leaf,
	.leaf-bottom:not(.blog-leaf) {
		display: none;
	}
	.blog-leaf {
		width: 22px;
	}
	.projects_section .container,
	.blog_section .container {
		margin: 0;
		padding: 0;
		width: 100%;
		border: none;
		border-top: 1px solid var(--container-border);
		position: relative;
	}
	.project_item:before,
	.project_item:after,
	.project_item:nth-child(even):before,
	.project_item:nth-child(3):before,
	.project_item:first-child .project_desc::before,
	.project_item:first-child .project_desc::after {
		display: none;
	}
	.project_item {
		padding-top: 25px;
	}
	.project_item:nth-child(odd) .project_item-content,
	.project_item:nth-child(even) .project_item-content {
		flex-direction: column;
		padding: 35px;
	}
	.project_item:nth-child(even) .project_item-content {
		border-color: var(--even-border);
	}
	.project_item .container:before,
	.project_item .container:after,
	.projects_section > .container:before,
	.projects_section > .container:after {
		content: "";
		width: 1px;
		height: calc(100% + 16px + 25px);
		background-color: var(--container-border);
		position: absolute;
		top: -25px;
	}
	.projects_section > .container:before,
	.projects_section > .container:after {
		height: 50px;
		top: -25px;
	}
	.project_item:nth-child(even) .container:before,
	.project_item:nth-child(even) .container:after {
		background-color: var(--even-border);
		height: calc(100% + 25px);
	}
	.project_item .container:before,
	.projects_section > .container:before {
		left: 19px;
	}
	.project_item .container:after,
	.projects_section > .container:after {
		right: 19px;
	}
	.project_item:nth-child(odd) .project_item-content {
		padding-bottom: 16px;
		margin-bottom: 16px;
		padding-top: 16px;
		border-bottom: 1px solid var(--container-border);
	}
	.project_item:first-child .project_item-content {
		border-top: none;
	}

	.project_item:nth-child(even) .project_item-content {
		padding-top: 16px;
	}
	.project_title {
		font-size: 21px;
	}
	.project_desc p {
		font-size: 14px;
	}
	.project_desc p:not(.project_desc p:last-child) {
		margin-bottom: 16px;
	}
	.project_item:nth-child(odd) .project_img,
	.project_item:nth-child(even) .project_img {
		max-width: unset;
		width: 100%;
		margin: 0;
		margin-bottom: 25px;
	}
	.project_item:nth-child(even) img:nth-of-type(2) {
		bottom: 0;
		left: -16px;
	}
	.project_item:nth-child(even) .project_img span {
		margin-top: 12px;
		margin-bottom: 12px;
		margin-left: unset;
		font-size: 9px;
		text-align: right;
	}

	.project_num {
		left: unset;
		right: 27px;
		font-size: 80px;
		z-index: 1;
		bottom: 2%;
		top: unset;
	}
	.project_item:nth-child(odd) .project_num {
		color: black;
		opacity: 0.1;
	}
	.project_desc {
		padding: 0;
		border: none;
	}
	.project_title {
		font-size: 21px;
		margin-bottom: 16px;
	}
	.project_desc p {
		font-size: 14px;
	}
	.project_desc p:nth-of-type(n + 2) {
		display: none;
	}
}
@media (max-width: 767px) {
	.project_num {
		bottom: 15%;
	}
}

/* blog styles */
.blog_section .container {
	padding-bottom: 93px;
	padding-top: 64px;
	position: relative;
}
.blog-leaf {
	left: unset;
	right: 0;
	bottom: 0;
	transform: rotate(-90deg);
}
.articles {
	padding: 16px;
	color: black;
}
.articles img {
	width: 100%;
	flex-shrink: 0;
}
.main_article {
	margin-right: 16px;
	max-width: 795px;
	width: 50%;
	flex-shrink: 0;
	position: relative;
}
.main_article::before {
	content: "";
	position: absolute;
	max-height: 450px;
	height: 40%;
	opacity: 0.4;
	width: 50vw;
	right: 10%;
	display: block;
	background-color: transparent;
	border: 1px solid #67902e;
	z-index: -1;
	top: -20px;
}
.articles p {
	opacity: 0.7;
	font-size: 16px;
}
.main_article-desc p {
	margin: 24px 0;
}
.main_article-title {
	font-size: 24px;
	font-family: "lt-55-normal";
	font-feature-settings: "case" on;
	margin: 42px 0 0;
}
.article-title {
	font-size: 20px;
	font-family: "lt-55-normal";
	font-feature-settings: "case" on;
}
.article-desc p {
	margin-top: 18px;
}
.article-img {
	margin-right: 15px;
	width: 260px;
	flex-shrink: 0;
}
.article {
	margin-bottom: 16px;
}
@media (max-width: 1024px) {
	.main_article::before {
		width: 90vw;
	}
	.blog_section .container {
		padding-top: 0;
		margin-top: 16px;
		padding-bottom: 10px;
	}
	.blog_section .container:before,
	.blog_section .container:after {
		content: "";
		z-index: -1;
		position: absolute;
		width: 1px;
		height: calc(100% + 16px);
		top: -16px;
		background-color: var(--container-border);
	}
	.blog_section .container:before {
		left: 19px;
	}
	.blog_section .container:after {
		right: 19px;
	}
	.articles:before,
	.articles:after {
		content: "";
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0;
		background-color: var(--container-border);
	}
	.articles:before {
		top: 0;
	}
	.articles:after {
		bottom: 10px;
	}
	.blog_section .section-title {
		margin-top: 32px;
	}
	.articles {
		flex-direction: column;
		margin: 0 19px;
		padding: 0;
		padding-top: 32px;
		padding-bottom: 16px;
	}
	.main_article {
		margin-right: 0;
		max-width: unset;
		width: 100%;
		margin-bottom: 40px;
	}
	.main_article-title {
		margin-top: 24px;
		font-size: 16px;
	}
	.main_article-desc p {
		margin: 16px 0;
		font-size: 14px;
	}
	.main_article-desc,
	.main_article-title {
		padding: 0 17px;
	}
	.article-title {
		font-size: 14px;
	}
	.article-desc p {
		margin-top: 8px;
		font-size: 10px;
	}
	.article-desc {
		padding-right: 10px;
	}
	.article-img {
		margin-right: 12px;
		width: 142px;
	}
}
/* footer styles */
.footer {
	background-color: var(--primary);
}
.footer .container {
	padding: 72px 0;
	border-color: var(--even-border);
}
.footer p {
	text-align: center;
	font-size: 18px;
	color: white;
	opacity: 0.7;
}
.footer a {
	font-family: "lt-55-bold";
	color: inherit;
	font-size: inherit;
}

@media (max-width: 1024px) {
	.footer .container {
		padding: 40px 0;
	}
	.footer p {
		font-size: 14px;
	}
}
