* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "lt-45";
	transition: all 0.3s;
	font-size: 100%;
}
a {
	text-decoration: none;
	color: black;
}
li {
	list-style: none;
}
:root {
	--primary: #003a42;
	--secondary: #809ca0;
	--even-nums: rgba(213, 213, 213, 0.44);
	--container-border: #d6dedf;
	--odd-nums: rgba(0, 0, 0, 0.1);
	--light-green: #90c93f;
	--header-height: 112px;
}
main {
	width: 100%;
	margin: 0 auto;
}

.container {
	max-width: 1638px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.container.p-absolute {
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: 1;
	border-left: 1px solid var(--container-border);
	border-right: 1px solid var(--container-border);
}
.d-flex {
	display: flex;
}
.p-fixed {
	position: fixed;
}
.p-absolute {
	position: absolute;
}
.p-relative {
	position: relative;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-center {
	justify-content: center;
}
.align-items-center {
	align-items: center;
}
.w-100 {
	width: 100%;
}

/* header styles */
header {
	background-color: var(--primary);
	height: var(--header-height);
	top: 0;
	left: 0;
	right: 0;
	z-index: 30;
}
.logo {
	width: 56px;
	height: 56px;
	margin-right: 16px;
}
.logo-block h3 {
	width: 64px;
}
.navbar-li:not(.navbar-li:first-child) {
	margin-left: 48px;
}
.navbar-li.active {
	position: relative;
}
.navbar-li.active:after {
	content: "";
	width: 100%;
	height: 1px;
	bottom: -4px;
	left: 0;
	position: absolute;
	background-color: var(--light-green);
}

.navbar-li a,
.logo-block h3,
.lang-bar a {
	color: white;
	font-family: "lt-55-normal";
	font-feature-settings: "case" on;
	font-size: 16px;
	line-height: 19px;
}
.navbar-li:hover a,
.logo-block h3:hover,
.lang-bar a:hover {
	opacity: 0.5;
}
.lang-bar .divider {
	margin: 0 10px;
	color: var(--secondary);
}
.lang-bar a:not(.lang_active) {
	color: var(--secondary);
}
.burger {
	display: none;
}
.burger span {
	width: 50%;
	height: 2px;
	background-color: white;
	border-radius: 2px;
	display: block;
	margin-bottom: 2px;
}
.burger span:nth-child(2) {
	width: 100%;
}
.burger span:nth-child(3) {
	margin-left: auto;
}
@media (max-width: 1024px) {
	nav,
	.lang-bar {
		display: none;
	}
	.burger {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 21px;
		height: 15px;
	}
}
@media (max-width: 768px) {
}

/* social icons */
.social-icons {
	right: 3%;
	top: 50%;
	/* transform: translateY(-50%); */
	flex-direction: column;
	z-index: 10;
}

.social-icons a {
	width: 28px;
	height: 28px;
	background-color: var(--primary);
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icons a:not(.social-icons a:first-child) {
	margin-top: 24px;
}
.social-icons a img {
	height: 14px;
}
@media (max-width: 768px) {
	.social-icons {
		display: none;
	}
}

/* main section styles */
.main_section {
	padding-top: var(--header-height);
	height: 100vh;
	overflow: hidden;
}

.main_section img {
	height: 100%;
	object-fit: cover;
}

/* projects section */
.projects_section {
	padding-top: 64px;
}

.section_title {
	display: inline-block;
	padding: 29px 48px;
	background-color: var(--primary);
	width: fit-content;
	margin-bottom: 48px;
}
.section_title:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
	background-color: var(--primary);
	/* border-right: 1px solid var(--container-border); */
}

.section_title h3 {
	color: white;
	display: inline-block;
	width: fit-content;
}
.section_title img {
	z-index: -1;
	width: 80px;
	transform: rotate(-94.35deg);
	right: -25px;
}
